.body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

.result_main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.result_title {
    padding-top: 40px;
    color: #1D9BF0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.result_tweet {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.result_tweet:focus{
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.back_btn {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #1D9BF0, #1D9BB0);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
