<!doctype html>
<html lang="en">
<head>
    <link href="/static/main.css" rel="stylesheet">
    <title>Twitter Detoxifier</title>
    <link href="/static/favicon.ico" rel="shortcut icon">
</head>
<body>
<div class="main">
    <p class="title">Is your tweet toxic?</p>
    <p class="text">{% from "_formhelpers.html" import render_field %}</p>
    <form action="/results" class=form method=post>
        <dl class="tweet">{{ render_field(form.tweet_classify) }}</dl>
        <input class=submit name='submit_btn' placeholder="Your tweet here"
                   type=submit value='Submit tweet'>
    </form>
</div>
</body>
</html>

